<a href="https://colab.research.google.com/github/atharv853/Atharv-Kulkarni./blob/main/python_full_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python was developed
 by GUIDO VAN ROSSUM

In [ ]:
print("Hello World")

Hello World

In [ ]:

#comma seperated line continues in one line
print("my name is Atharv","welcome")

my name is Atharv welcome

In [ ]:
print(21)

21

In [ ]:
print(30-20)

10

In [ ]:
print(10*10)

100

Chapter 1 -Variables

In [ ]:
#variables means data which vary.

In [ ]:
name="Atharv" #word written in double coats is string it should be written in double coats only
age=18        #This is INTEGER
price=23.97   #This is float value
boolean=True  #capital at start is imp
a=None        #capital at start is imp
print("My name is",name)
print("My age is",age)
print("My price is",price)
print(boolean)
print(a)

My name is Atharv
My age is 18
My price is 23.97
True
None

In [ ]:
# In python =is called assign operator where value stores from right to left
age2=age
print(age2)

18

In [ ]:
#rules for variables
1) a to z
2) A to Z
3)1 to 9
4)_
rest all is not allowed

In [ ]:

#This all are datatypes
#1
print(type(name)) #can be written in 1 2 3 coats
#2
print(type(age))
#3
print(type(price))
#4
print(type(boolean))
#5
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

#Keywords

In [ ]:
#We cant use keawords as variables
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield

In [ ]:
#python is case sensitive i.e.capital and small are diff.

In [ ]:
a=1
b=5
c=a+b
print(c)

6

#Punctuators

In [ ]:
# are
()
[]
{}
-=
+=
/=
*=
=

In [ ]:
#There are two types of languages
1)implicit-we dont define type(str,etc.)in code
2)explicit - we define

In [ ]:
#PYTHON is implicit language

In [ ]:
#java is explicit

#Expression Execution

In [ ]:
#String and numeric values cant operate together
it will operate with   *

In [ ]:
a,b,c=1,2,3
print(a)
print(b)          #allowed
print(c)

txt="@"
#If we have to multiply txt a b c then
print(a*b*c*txt)      #is allowed
#6@ is not the ans

1
2
3
@@@@@@

In [ ]:
#String and string  can operate with +

In [ ]:

#"2" is string
#2 is only int

''' Rule is when we do + betn strings then they come together'''
        #This is called concatenation
a,b,c=1,"2",3   #2 is string
txt="@"
print((b+txt)*c)

2@2@2@

In [ ]:
a,b,c=4,5,6
print(a+b*c)   #This is valid means only ans will change acco. to BODMAS
print((a+b)*c)

34
54

In [ ]:
# INT*FLOAT=FLOAT
# INT/INT=FLOAT

In [ ]:
#  // this is int division operator
a,b=4,5
c=a//b
print(c,a/b)

'''This int div opr works as rounding off the ans to the before int'''
a,b=999,10
print(a//b,a/b)













#doubt why not 0.0 or 99.0

0 0.8
99 99.9

In [ ]:
# this is called floor
#means floor gives closest int which is less than or equal to that no
'''floor(6.2) 6
floor(6)      6
floor(5.99)   5
'''

In [ ]:
print(11//-2)

-6

In [ ]:
# remainder is neg when dino is neg
#num    +    -     -    +
-----------------------------------
#dino   +    -     +    -
====================================
#rem    +    +     +    -

In [ ]:
# % this sign is modulo or remainder
print(-5%2)
print(5%-2)
print(-5%-2)
print(5%2)






















#doubt why -- is -

1
-1
-1
1

#INPUT FUN

In [ ]:

#String input
name=input("name is  ;")
print(name)

name is  ;avk
avk

In [ ]:
# INT input
age=int(input("age is  ;"))
print(age)

age is  ;21
21

In [ ]:

#Float input
a=float(input("float  is  ;"))
print(a)

float  is  ;99.89
99.89

In [ ]:
print("My name is",name,"my age is",age,"my float is",a)

My name is avk my age is 21 my float is 99.89